.container {
  width: 380px;
}

.ecp--month-navigation {
  height: 33px;
}

.ecp--month-navigation-left, .ecp--month-navigation-right {
  padding: 0 10px 0;
  cursor: pointer;
}

.ecp--column-labels {
  height: 19px;
}

.ecp--column-label {
  color: #6e788b;
  font-size: 11px;
}

.ecp--month-view {
  height: 300px;
}

.ecp--day {
  color: rgb(110, 120, 139);
  margin: 1px;
  background-color: rgb(231, 233, 236);
}

.ecp--day-from-previous-month, .ecp--day-from-next-month {
  background-color: transparent;
  color: transparent;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
