<div class="ecp--month-view">
  {{#each datesToDisplayByWeek as |weekOfDates|}}
    <div class="ecp--week">
      {{#each weekOfDates as |date|}}
        {{#if hasBlock}}
          {{yield date}}
        {{else}}
          <div class="{{day-classes date dateInView}}">
            {{day-of-month date}}
          </div>
        {{/if}}
      {{/each}}
    </div>
  {{/each}}
</div>
