<div class="ecp--month-view">
  {{#each datesToDisplayByWeek as |weekOfDates|}}
    <div class="ecp--week">
      {{#each weekOfDates as |date|}}
        {{yield date}}
      {{/each}}
    </div>
  {{/each}}
</div>
