{{#month-navigation dateInView=dateInView onDateChange=(action (mut dateInView)) as |dateInView|}}
  {{month-name dateInView}}
{{/month-navigation}}
{{column-labels}}
{{#month-view dateInView=dateInView as |date|}}
  <div class="{{day-classes date dateInView}}">
    {{day-of-month date}}
  </div>
{{/month-view}}
